* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #E8E8E8;
}
body{
    background-image:  linear-gradient(#0000005b, #00000098), url("../img/bg1-kedai-kopi.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: relative; 
}
/* body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */

header{
    margin: 1.5em 0
}
.section{
    text-align: center;
}

.brown-color{
    background-color:#E8E8E8 ;
}

.brown-color:hover{
    background-color:#b45613c2; ;
}

h3, h4, div > ul {
    color:#DCDCDC;
}

h3 {
    margin: 1em 0;
}