* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #E8E8E8;
}
body{
    background-image:  linear-gradient(#0000005b, #00000098), url("../img/bg1-kedai-kopi.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: relative; 
    font-family: 'poppins';
}
/* body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */

header{
    margin: 1.5em 0
}
.section{
    text-align: center;
}

.btn-change{
    background-color:#E8E8E8 ;
}

.btn-change:hover{
    background-color:#b45613c2; 
    transform: translateY(-4px);
    box-shadow: 2px 4px rgba(44, 44, 44, 0.555);
    transition: all .3s;
    color: #DCDCDC;
}

.button-box{
    margin: 0 5%;
    cursor: pointer;
    transition: all .2s;
}

button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    color: #DCDCDC;
}

h3, h4, div > ul {
    color:#DCDCDC;
}

h3 {
    margin: 1em 0;
}

ul{
    list-style: none;
}

.border-round{
    border-radius: 25px;
    padding:20px;
}

button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    color: #DCDCDC;
}
